.first{
    border: 4px solid black;
    background-color: rgb(216, 192, 160);
}
.sec{
    background-color: rgb(203, 220, 203)!important;
}
p{
    background-color: rgb(218, 173, 173)!important;
    border: 4px solid black;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 10cap;

    
}